Repository Jpuntul/HMS: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check

eslint:
  name: ESLint
  entry: bash -c 'cd front && npx eslint --fix'
  language: system
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  entry: bash -c 'cd front && npx tsc --noEmit'
  language: system
  pass_filenames: false

docs(readme): add deployment guide
  README.md
Due: none

feat(deploy): production serving, structured logging, optional error tracking
  back/hms/settings.py
  back/requirements.txt
Due: none

docs(readme): stop advertising public PHI browsing
  README.md
Due: none

fix(auth): throttle login, validate registration passwords, blacklist refresh tokens on rotation/logout
  back/hms/auth_views.py
  back/hms/settings.py
  front/src/contexts/AuthContext.tsx
Due: eslint, typescript-check

feat(auth): gate writes to staff accounts (RBAC increment 1)
  back/hms/permissions.py
  back/hms/settings.py
Due: none

feat(audit): log create/update/delete actions with actor, model, and pk
  back/hms/migrations/0003_auditlogentry.py
  back/hms/models.py
  back/hms/views.py
Due: none

feat(security): add a strict Content-Security-Policy, backend and frontend
  back/hms/middleware.py
  back/hms/settings.py
  front/public/_headers
Due: none

build(deps): pin backend dependencies via pip-tools, add Dependabot
  .github/dependabot.yml
  back/requirements.in
  back/requirements.txt
Due: none

fix(auth): shorten access-token lifetime 15min -> 5min
  back/hms/settings.py
Due: none

docs: publish this week's 6 security notes, keep older notes private
  .gitignore
  notes/AUDIT_LOG_2026-09-09.md
  notes/CSP_2026-09-09.md
  notes/DECLINED_2026-09-09.md
  notes/DEPENDENCY_LOCK_2026-09-09.md
  notes/INDEX.md
  notes/LOGIN_SECURITY_HARDENING_2026-09-08.md
  notes/RBAC_STAFF_WRITE_GATE_2026-09-09.md
Due: none

docs: switch notes/ to a public-by-default folder split, sync CLAUDE.md/README, add refactor-note skill
  .claude/skills/refactor-note/SKILL.md
  .gitignore
  CLAUDE.md
  README.md
  notes/INDEX.md
Due: none

fix(models): send MySQL the dashed UUID format it actually stores
  back/hms/models.py
Due: none

perf(backend): consolidate dashboard queries, pool connections, cache filters
  Dockerfile
  back/hms/analytics.py
  back/hms/serializers.py
  back/hms/settings.py
  back/hms/views.py
Due: none

perf(frontend): code-split routes, memoize AuthContext, fix double-fetch races
  front/src/components/FilterDropdown.tsx
  front/src/components/Pagination.tsx
  front/src/components/SearchBar.tsx
  front/src/components/SearchResultsHeader.tsx
  front/src/contexts/AuthContext.tsx
  front/vite.config.ts
Due: eslint, typescript-check

docs: record the 2026-09-10 backend/frontend todo pass
  notes/TODO_CHECKLIST_PASS_2026-09-10.md
Due: none

feat(design): introduce the Access & Roster design system
  .gitignore
  front/index.html
  front/src/App.tsx
  front/src/components/DeleteConfirmationModal.tsx
  front/src/components/Dropdown.tsx
  front/src/components/FormCheck.tsx
  front/src/components/Skeleton.tsx
  front/src/components/StatusStamp.tsx
  front/src/index.css
Due: eslint, typescript-check

feat(design): restyle Patients, auth, and dashboard pages
  front/src/components/PersonCard.tsx
  front/src/pages/auth/Login.tsx
  front/src/pages/auth/Register.tsx
  front/src/pages/dashboard/Dashboard.tsx
  front/src/pages/dashboard/Home.tsx
  front/src/pages/person/AddPerson.tsx
  front/src/pages/person/EditPerson.tsx
  front/src/pages/person/PersonDetail.tsx
  front/src/pages/person/PersonList.tsx
Due: eslint, typescript-check

feat(design): restyle Staff pages
  front/src/components/EmployeeCard.tsx
  front/src/pages/employee/AddEmployee.tsx
  front/src/pages/employee/EditEmployee.tsx
  front/src/pages/employee/EmployeeDetail.tsx
  front/src/pages/employee/EmployeeList.tsx
  front/src/utils/roleMeta.ts
Due: eslint, typescript-check

feat(design): restyle Facility pages
  front/src/components/FacilityCard.tsx
  front/src/pages/facility/AddFacility.tsx
  front/src/pages/facility/EditFacility.tsx
  front/src/pages/facility/FacilityDetail.tsx
  front/src/pages/facility/FacilityList.tsx
Due: eslint, typescript-check

feat(design): restyle Schedule pages
  front/src/components/ScheduleCard.tsx
  front/src/pages/schedule/AddSchedule.tsx
  front/src/pages/schedule/EditSchedule.tsx
  front/src/pages/schedule/ScheduleDetail.tsx
  front/src/pages/schedule/ScheduleList.tsx
Due: eslint, typescript-check

feat(design): restyle Infection and Vaccination pages, remove visible SSN
  front/src/pages/infection/AddInfection.tsx
  front/src/pages/infection/EditInfection.tsx
  front/src/pages/infection/InfectionDetail.tsx
  front/src/pages/infection/InfectionList.tsx
  front/src/pages/vaccination/AddVaccination.tsx
  front/src/pages/vaccination/EditVaccination.tsx
  front/src/pages/vaccination/VaccinationDetail.tsx
  front/src/pages/vaccination/VaccinationList.tsx
Due: eslint, typescript-check

chore(deploy): export MySQL schema for provisioning new environments
  back/schema.sql
Due: none

docs: update CLAUDE.md, README, and product/design docs for the redesign
  CLAUDE.md
  DESIGN.md
  PRODUCT.md
  README.md
  notes/ACCESS_ROSTER_ROLLOUT_2026-09-16.md
  notes/INDEX.md
Due: none

ci: bump the mysql service container to 8.4
  .github/workflows/ci.yml
Due: none

feat(deploy): support TLS-required MySQL hosts (Aiven, PlanetScale)
  back/.env.example
  back/hms/settings.py
Due: none

docs: bump README's stated MySQL requirement to 8.4+
  README.md
Due: none

build(deps): bump vite to ^8.3.0 alongside @vitejs/plugin-react 6.1.1
  front/package-lock.json
  front/package.json
  front/vite.config.ts
Due: typescript-check

fix(frontend): adapt to eslint-plugin-react-hooks 7's flat-config export and new ruleset
  front/eslint.config.js
  front/package-lock.json
  front/src/pages/dashboard/Dashboard.tsx
  front/src/pages/dashboard/Home.tsx
Due: eslint, typescript-check

refactor(front): extract shared UI constants into config/constants.ts
  front/src/components/Skeleton.tsx
  front/src/config/constants.ts
  front/src/contexts/AuthContext.tsx
  front/src/pages/auth/Register.tsx
  front/src/pages/employee/EmployeeList.tsx
  front/src/pages/facility/FacilityList.tsx
  front/src/pages/infection/InfectionList.tsx
  front/src/pages/person/PersonList.tsx
  front/src/pages/schedule/ScheduleList.tsx
  front/src/pages/vaccination/VaccinationList.tsx
Due: eslint, typescript-check

fix(deploy): pin CSP connect-src to the deployed API origin
  front/public/_headers
Due: none

docs: add ARCHITECTURE.md with system-flow and data-model diagrams
  ARCHITECTURE.md
  README.md
Due: none

feat(front): replace default Vite favicon with an ID-badge mark
  front/index.html
  front/public/logo.svg
  front/public/vite.svg
  front/src/App.tsx
Due: eslint, typescript-check

Path conditions:
  eslint: any of: ^front/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^front/.*\.(ts|tsx)$
